<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Test Styling</title>
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
	<!-- Custom CSS -->
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<header>
		<h1>Nav</h1>
		<p>Programmer, High School Student, Crazy</p>
	</header>
	<section class="main">
		<h1>Hello, World</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, ratione, itaque! Adipisci aliquam quo excepturi rerum beatae expedita, laborum atque praesentium ratione, ducimus quasi omnis alias explicabo. Impedit omnis, iure saepe totam dolorum quia libero ipsa reiciendis nostrum rerum sapiente ab voluptate, nam veniam ea quis deserunt doloremque eos, beatae excepturi consequuntur. Accusamus veniam vel quaerat dicta dolor iste perferendis alias. Neque quaerat id culpa necessitatibus quidem tenetur tempore illum sunt iusto? Eos quis ab voluptatibus perferendis at, consectetur sit eveniet praesentium illum dolores beatae laudantium iusto tenetur nulla facilis. Reiciendis voluptate veniam, doloribus quam nobis, soluta quis aut ducimus? <a href="#">Read More</a></p>
	</section>
	<div id="copyrights">
		<p>Copyrights Under Nav&copy; 2020</p>
	</div>
</body>
</html>